/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-font-smoothing: antialiased;
}

/*css styling that applies universally*/
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-weight: 100;
}

/*generally no text decorations*/
input, button, submit { border:none; }
a {text-decoration: none}
a:visited { text-decoration: none; color: inherit;}
a:focus { text-decoration: none; color: inherit; }

/*welcome page*/
.welcome-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

.welcome-main {
  display: flex;
  min-height: 80vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #625391;
  color: white;
}

.welcome-message {
  padding-bottom: 30px;
}

.welcome-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-right img {
  border-radius: 50%;
}

.welcome-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: white;
  color: #F88017;
  width: 100px;
  border-radius: 35px;
}

.login-button:hover {
  color: white;
  background-color: #F88017;
}

.register-button {
  color: white;
  background-color: #F88017;
  width: 200px;
  border-radius: 35px;
}

.register-button:hover {
  color: #F88017;
  background-color: white;
}

.welcome-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

/*register page*/
.register-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

.register-main {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
}

.register-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

.sign-up {
  padding-top: 15vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20vh;
}

.register-space {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.register-form-button {
  color: white;
  background-color: #F88017;
  width: 200px;
  border-radius: 35px;
  font-size: 20px;
}

.register-form-button:hover {
  color: #F88017;
  background-color: white;
}

/*login page*/
.login-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

.login-main {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
}

.login-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

.login-title {
  padding-top: 15vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20vh;
}

.login-space {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.login-form-button {
  color: white;
  background-color: #F88017;
  width: 200px;
  border-radius: 35px;
  font-size: 20px;
}

.login-form-button:hover {
  color: #F88017;
  background-color: white;
}

/*main page*/

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

.main-logout-button {
  background-color: white;
  color: #F88017;
  width: 100px;
  border-radius: 35px;
}

.main-logout-button:hover {
  color: white;
  background-color: #F88017;
}

.main-main {
  display: flex;
  min-height: 80vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #BDAEE8;
  color: white;
  border-radius: 20px;
  min-width: 55vw;
  min-height: 60vh;
  margin-left: 3vw;
}

.main-upper-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BDAEE8;
  color: white;
  border-radius: 20px;
  min-width: 20vw;
  min-height: 40vh;
  margin-right: 3vw;
  margin-left: 3vw;
}

.main-welcome-username {
  line-height: 60px;
}

.main-lower-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BDAEE8;
  color: white;
  border-radius: 20px;
  min-width: 20vw;
  min-height: 19vh;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 1vh;
}

.quiz-entry {
  border-radius: 50%;
  background-color: #F88017;
  color: white;
  font-size: 20px;
  padding: 15px 25px 20px 25px;
  margin: 5px 5px 5px 5px;
}

.quiz-entry:hover {
  color: #F88017;
  background-color: white;
}

/*Quiz Pages*/

.quiz-one-header, .quiz-two-header, .quiz-three-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  min-height: 10vh;
  background-color: #625391;
  color: white;
  text-decoration: none;
}

.quiz-one-message, .quiz-two-message, .quiz-three-message {
  background-color: #625391;
  color: white;
  text-decoration: none;
}

.quiz-one-message:hover, .quiz-two-message:hover, .quiz-three-message:hover {
  color: #F88017;
}

.quiz-one-main, .quiz-two-main, .quiz-three-main {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
}

.quiz-one-question, .quiz-two-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F88017;
  color: white;
  border-radius: 20px;
  min-width: 20vw;
  min-height: 30vh;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 1vh;
  padding: 2px 2px 2px 2px;
  line-height: 50px;
}

.quiz-one-choices, .quiz-two-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quiz-one-answer-left, .quiz-one-answer-center, .quiz-one-answer-right, .quiz-two-answer-left, .quiz-two-answer-center, .quiz-two-answer-right  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BDAEE8;
  color: white;
  border-radius: 20px;
  min-width: 20vw;
  min-height: 19vh;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 1vh;
  padding: 2px 2px 2px 2px;
}

.quiz-one-answer-left:hover, .quiz-one-answer-center:hover, .quiz-one-answer-right:hover, .quiz-two-answer-left:hover, .quiz-two-answer-center:hover, .quiz-two-answer-right:hover {
  color: white;
  background-color: #F88017;
}

.quiz-one-footer, .quiz-two-footer, .quiz-three-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #625391;
  color: white;
}


/*font sizes*/
h1 {
  font-size: 35px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 800;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 500;
}

/*reactive design for smaller screens*/
@media (max-width: 800px) {

  .welcome-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .welcome-main {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

}
