.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.welcome-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #1CB0F6;
  color: black;
}

.welcome-main {
  display: flex;
  min-height: 80vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1CB0F6;
}

.welcome-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #1CB0F6;
  color: #E9E7DA;
}
